* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/*--------------------------------------------MENU--------------------------------------------*/

#body-sudeste {
    display: flex;
    flex-direction: column;
}

#menu-sudeste {
    background-color: #FACAFF;
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-flow: row wrap;
    padding: 30px;
}

#titulo {
    margin-right: auto;
    font-weight: bold;
}

.sobre-projeto {
    margin-left: auto;
}

.menu-li {
    margin: 0 20px 0 20px;

}

.a-menu {
    color: black;
    text-decoration: none;
}

.menu-li:nth-child(5) {
    font-weight: bold;
}

.a-menu:hover {
    text-decoration: underline;
}

/*--------------------------------------------HEADER--------------------------------------------*/

#header-sudeste {
    display: flex;
    flex-flow: row wrap;
    background-color: #FACAFF;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    height: 250px;
}

.a-voltar {
    text-decoration: none;
    color: black;
}

.imgLink {
    width: 8px;
    padding-right: 10px;
}

.a-voltar:hover {
    text-decoration: underline;
}

#div-titulo, #div-img-sudeste {
    margin: auto;
}

.head-titulo {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 60px;
}

/*--------------------------------------------MAIN--------------------------------------------*/

#main-sudeste {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    justify-content: center;
}

/*--------------------------------------------TABELA--------------------------------------------*/

td {
    padding: 30px;
}

.tbl-link {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.tbl-link:hover {
    border-bottom: 2px solid black;
}

/*--------------------------------------------HR--------------------------------------------*/

#hr {
    border-top: 1px solid rgba(0, 0, 0, 0.166);
    margin: 50px 500px 50px 500px;
    width: auto;
}

/*--------------------------------------------ARTICLE--------------------------------------------*/

#artigo {
    display: block;
}

.curadoria {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

#div-artigo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.div-artigoAutor {
    width: auto;
    margin-right: 30px;
}

.div-artigoTexto {
    width: 447px;
}

.p-artigoAutor {
    font-size: 12px;
}

.h1-artigoTitulo {
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
    text-decoration-color: #FACAFF;
    font-size: 30px;
}

.p-artigoLegenda {
    font-size: 14px;
    font-style: italic;
    margin-top: 20px;
}

.p-artigoTexto {
    margin-top: 70px;
    font-size: 14px;
}


/* CATALOGO */

#catalog-section {
    padding: 20px 0;
  }
  
  .dsc-catalog-cards {
    margin: 8px;
  }
  
  .dsc-catalog-cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }
  
  .dsc-catalog-card-top {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .dsc-catalog-card-top img {
    width: 150px;
    height: 150px;
  }
  
  .dsc-catalog-card-bottom {
    padding: 10px 20px;
    min-height: 110px;
  }
  
  .dsc-catalog-card-bottom h3 {
    color: var(--dsc-color-font-secondary);
    font-size: 20px;
  }
  
  .dsc-catalog-card-bottom h4 {
    color: var(--dsc-color-font-primary);
    font-size: 12px;
  }
  
  .dsc-card {
    border: 1px solid grey;
  }
  
  .selected {
    border: 2px solid blue;
  }
  
  #btn-new {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 3px 0px 16px 8px;
    border: none;
    cursor: pointer;
  }
  
  #btn-new:hover {
    opacity: 0.8;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  #myForm {
    padding: 20px;
    margin: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
  }
  
  form label {
    margin-bottom: 0.5em;
    color: #333;
    font-weight: bold;
  }
  
  form input {
    padding: 10px;
  }
  
  form input[type="submit"] {
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  form input[type="submit"]:hover {
    background-color: #45a049;
  }

/*--------------------------------------------FOOTER--------------------------------------------*/

#footer-sudeste {
    padding: 20px;
    background-color: #F2F2F2;
    color: #3d3d3d;
}